/*----------------------------------------------- Fuentes --------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa');



/*---------------------------------------------- Fin Fuentes ----------------------------------------------*/


/*-----------------------------------------------Responsive ------------------------------------------------*/

@media (max-width:768px) {
    #fondoMenuCervezas {
        width: 100%;
        height: 75%;
        background-color: black;
        margin: auto;
    }

    
}

@media (min-width:768px) {
    #fondoMenuCervezas {
        width: 100%;
        height: 75%;
        background-image: url("../imagenes/fondoCervezaTrigo.jpg");
        background-size: 60%;
        background-color: black;
        background-repeat: no-repeat;
        background-position: 0% 70%;
        margin: auto;
    }

    
}

/*-------------------------------------------------Fin Responsive------------------------------------------/*

/*------------------------------------------------- Archivo index ---------------------------------------*/

#mainIndex {
    background-color: black;
    height: 3000px;
}

/*Imagen de fondo principal*/

#imagenFondo {
    position: relative;
    top: 90px;
}



/*-------------------------------------------------- Archivo menuCervezas  --------------------------------*/

#mainMenuCervezas {
    background-color: black;
    height: 1080px;

}



#cervezas {
    width: 100%;
    height: 75%;
    position: relative;
    top: 17%;
    margin: auto;

}

.h2MenuCervezas {
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;

}

#mainMenuCervezas img:hover {
    filter: brightness(0.5);

}

#espacioEnMenuCervezas {
    width: 177px;
    height: 200px;
    color: white;
}

/*-----------------------------------------------------Archivo Stout-----------------------------------------*/

.mainCervezas {
    background-image: url("../imagenes/fondoGenerico.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.cervezas h5 {
    color: white;
    font-size: 50px;
    font-family: "sergio";
    letter-spacing: 5px;
    margin: auto auto;
    position: relative;
    top: -5%;

}

.cervezas p {
    color: white;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
}

.imagenHeader {
    width: 20%;
    margin-top: 7%;
    margin-left: 40%;
    
}


.stout {
    display: block;
    margin: auto;


}



/*------------------------------------------------------Generales--------------------------------------------*/
/*
div {
    border: 2px blue solid;
}

.row {
    border: 2px yellow solid;
}

.col {
    border: 2px orange;
}
*/


footer {
    background-color: black;
    color: white;
    text-align: center;
}

p {
    color: white;
}